table{
    border: 10px dashed blue;
    background-color: burlywood;
    width: 1000px;
    height: 300px;
    margin: auto;
    text-align: justify;
}
.head{
    background-color: coral;

}
.lesson{
    background-color: cyan;
}
img {
    border-radius: 100%;
    height: 100px;
}
body{
    background-color: aquamarine;
}